.hero.font-sans.flex.text-center.content-center.w-full
  %p.no-underline.text-white.font-sans.font-bold.text-3xl.block Gherkin Burgers
  %p.text-xs.text-yellow Delicious as hell
              
         
             
   